.list {
  margin-top: 80px;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.paper {
  margin-top: 16px;
  width: 48%;
}

header {
  background-color: rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favored {
  background-color: gold;
}

.left-header {
  display: flex;
  align-items: center;
}

article {
  padding: 8px;
}

footer {
  display: flex;
  justify-content: flex-end;
}